body{
    background: mistyrose;
}
#main {
    font-family: "Lucida Console", Monaco, monospace;
    text-align: center;
    line-height: 1.5;
    padding-top: 200px;
    padding-bottom: 200px;
}
a {
    color: hotpink;
}